@use 'reset';

#MemStory {
    width: 100%;
    background-color: #F2E9D4;

    #MemStory-main {
        height: 80vh;
    }
}

/* 頁首區 */
.topbar {
    width: 100%;
    display: flex; // 主軸方向：水平
    justify-content: space-between; // 主軸水平左右均分
    align-items: center; // 副軸垂直置中
    padding: 20px 50px;

    .logo {
        display: flex;
        position: relative;

        .img-logo {
            width: 150px;
            position: absolute;
            left: -60px;
            top: -70px;
        }

        h1 {
            position: absolute;
            width: 100px;
            top: 30px;
            left: 70px;
            letter-spacing: 2px;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .menu {
            display: flex;
            padding: 0 10px;
            margin-top: 10px;
            margin-bottom: 20px;

            a {
                margin: 15px;
                padding: 7px 0 5px;
                border-bottom: 2px solid transparent;
                transition: 0.4s;
                text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);

                &:hover {
                    color: #00ff88;
                    border-bottom: 2px solid transparent;
                }
            }
        }
    }
}

/* 內容區 */
#section1 {
    position: relative;

    #section1-img1 {
        z-index: 999;
        width: 120px;
        position: absolute;
        top: -40px;
        left: 580px;
    }

    #section1-img2 {
        width: 70px;
        position: absolute;
        top: -30px;
        left: 660px;
    }

    #bar1-1 {
        width: 50px;
        position: absolute;
        top: 0px;
        left: 750px;
    }

    #bar1-2 {
        width: 50px;
        position: absolute;
        top: 0px;
        left: 850px;
    }

    #bar1-3 {
        width: 50px;
        position: absolute;
        top: 0px;
        left: 950px;
    }

    #bar1-4 {
        width: 50px;
        position: absolute;
        top: 0px;
        left: 1050px;
    }

    #text1-1 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 5px;
        left: 760px;
    }

    #text1-2 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 5px;
        left: 860px;
    }

    #text1-3 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 5px;
        left: 960px;
    }

    #text1-4 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 5px;
        left: 1060px;
    }
}

#section2 {
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;


    .box {
        position: relative;
        width: 300px;
        margin-top: 120px;

        .boxImg1 {
            position: absolute;
            width: 300px;
        }

        .boxImg2 {
            z-index: 999;
            position: absolute;
            width: 280px;
            left: 10px;
            top: 70px;
        }

        #frame1 {
            z-index: 998;
            position: absolute;
            width: 230px;
            height: 140px;
            top: 94px;
            left: 35px;
            border: transparent solid 1px;
            border-radius: 13px;
            background-image: url(./images/memStory/postcard-landscape.jpg);
            background-size: cover;
            background-position: center;
        }

        #frame2 {
            z-index: 998;
            position: absolute;
            width: 230px;
            height: 140px;
            top: 94px;
            left: 35px;
            border: transparent solid 1px;
            border-radius: 13px;
            background-image: url(./images/memStory/postcard-islands.jpg);
            background-size: cover;
            background-position: center;
        }

        #frame3 {
            z-index: 998;
            position: absolute;
            width: 230px;
            height: 140px;
            top: 94px;
            left: 35px;
            border: transparent solid 1px;
            border-radius: 13px;
            background-image: url(./images/memStory/postcard-sunset.jpg);
            background-size: cover;
            background-position: center;
        }

        #frame4 {
            z-index: 998;
            position: absolute;
            width: 230px;
            height: 140px;
            top: 94px;
            left: 35px;
            border: transparent solid 1px;
            border-radius: 13px;
            background-image: url(./images/memStory/postcard-mountain-2.jpg);
            background-size: cover;
            background-position: center;
        }

        .text1 {
            position: absolute;
            font-size: 14px;
            top: 295px;
            left: 30px;
            letter-spacing: 3px;
        }

        .text2 {
            position: absolute;
            font-size: 14px;
            top: 320px;
            left: 80px;
            letter-spacing: 3px;
        }

        .text3 {
            position: absolute;
            font-size: 14px;
            color: white;
            top: 383px;
            left: 200px;
            letter-spacing: 3px;
        }
    }

    #section2-img1 {
        position: absolute;
        width: 220px;
        bottom: 60px;
        left: 0px;
    }

    #section2-img2 {
        position: absolute;
        width: 230px;
        bottom: 40px;
        right: 50px;
        transform: scaleX(-1);
    }

    #section2-img3 {
        position: absolute;
        width: 100px;
        bottom: 180px;
        right: 80px;
    }

    #section2-img4 {
        position: absolute;
        width: 100px;
        bottom: 350px;
        left: 60px;
    }

    #section2-img5 {
        position: absolute;
        width: 100px;
        bottom: 350px;
        right: 60px;
        transform: scaleX(-1);
    }
}


/* footer */
.footer {
    background-color: #F2E9D4;
    height: 80px;

    footer {
        display: flex;
        justify-content: center;
        height: 60px;
        background-color: #E2CA9E;
        margin: 20px;

        p {
            text-align: center;
            line-height: 60px;
            color: #464646;
        }
    }
}