@charset "UTF-8";

body {
  font-family: "Noto Sans TC", serif;
    background-image: url(../images/background.png);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* 頁首 */
#topbar {
    display: flex;
    justify-content: space-between;
}
#topbar .logo a img { 
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

#topbar .navigation .menu {
    list-style: none;
    display: flex;
    padding: 0 200px;
}

#topbar .navigation .menu a {
  margin: 15px;
  padding: 7px 0 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  text-decoration:none;
  color: #222;
}
#topbar .navigation .menu a:hover{

  color: #00ff88;
  border-bottom: 2px solid transparent;
} 

/* 內容區 */
/* 左側按鈕 */
.wrap {
    margin-top: 40px;
    display: flex;
}

.btn {
    flex-direction: column;
    display: flex;
    margin-left: 100px;
    
}
.btn button{
    margin-top: 10px;
    font-size: 18px;
    color: #464646;
    border: none;
    width: 175px;
    height: 55px;
    background-image: url(../images/btn-3.png);
    background-color: transparent;
    background-size: 100%;
    cursor: pointer;
}

/* 內容區 */
.info-box {
    flex-direction: column;
    width: 900px;
    height: 650px;
    background-image: url(../images/p5-papers-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* left: 500px; */
    margin-left: 250px;
}
.box1 {
   margin-left: 50px;
   margin-top: 40px;
}
.box1 h2 {
    color: #8A5D3B;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 20%;
    margin-bottom: 10px;
    margin-left:30px;
    
}
.box1 input {
    border: none;
    background-color: #CDB17E;
    margin-left:30px ;
    width: 730px;
    height: 40px;
}
.box2 {
    margin-top: 70px;
    margin-left: 50px;
}
/* .box2 h2 {
    color: #8A5D3B;
    font-size: 22px;
    letter-spacing: 20%;
} */
.box2 input {
    border: none;
    background-color: #CDB17E;
    margin-left:30px ;
    width: 730px;
    height: 40px;

    color: #8A5D3B;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 20%;
  
}
.box3 {
    width: 900px;
    height: 200px;
    background-image: url(../images/p4-papers-2.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: 80px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 15px;
}
.box3 img {
    transform: rotate(180deg);
}
.box3 h3 {
    color: #464646;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 10px;
    margin: 5px;
    margin-top: 10px;
}

/* 裝飾區 */
.pic1 {
    position: absolute;
    left: 410px;
    bottom: 180px;
    /* transform: rotate(deg); */
}
.pic2 {
    position: absolute;
    right: 380px;
    top :100px;
    transform: rotate(-5deg);
}
.pic3 img {
    width: 250px;
    height: 170px;
}
.pic3 {
    position: absolute;
    left: 80px;
    bottom: 220px;
    transform: rotate(-15deg);
}
.pic4 img {
    width: 300px;
    height: 370px;
}
.pic4 {
    position: absolute;
    left: 280px;
    bottom: 170px;
    transform: rotate(-2deg);
}
.pic5 img {
    width: 130px;
    height: 130px;
}
.pic5 {
    position: absolute;
    right: 400px;
    bottom: 220px;
}
.pic6 img {
    width: 340px;
    height: 320px;
}
.pic6 {
    position: absolute;
    right: 20px;
    bottom: 300px;
    transform: rotate(5deg);
}
.pic7 img {
    width: 300px;
    height: 290px;
}
.pic7 {
    position: absolute;
    right: 100px;
    bottom: 210px;
    transform: rotate(-50deg);
}

/* 頁尾區 */
footer {
  display: inline-block;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  background-color: #E2CA9E;
  width: 100%;
  height: 65px;
 
  letter-spacing: 3px;
  color: #000;

}